<!DOCTYPE html>
<html>
<head>
  <title>Book Information Form</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
  
    label {
      display: block;
      margin-bottom: 5px;
    }
  
    input[type="text"] {
      width: 300px;
      padding: 5px;
    }
  
    input[type="submit"] {
      padding: 10px 20px;
      background-color: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
    }
  
    input[type="submit"]:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>
  <h2>Book Information</h2>
  <form>
    <label for="title">Title:</label>
    <input [(ngModel)]="book.title" type="text" id="title" name="title" required name="title">
  
    <label for="reference">Reference:</label>
    <input [(ngModel)]="book.reference" type="text" id="reference" name="reference" required name="reference">
  
    <label for="author">Author:</label>
    <input [(ngModel)]="book.author" type="text" id="author" name="author" required  name="author">
  
    <label for="price">Price:</label>
    <input [(ngModel)]="book.price" type="text" id="price" name="price" required  name="price">
  
    <label for="location">Location:</label>
    <input [(ngModel)]="book.location" type="text" id="location" name="location" required  name="location">
  
    <input type="submit" value="Submit" (click)="btnRegistrar()">

  </form>
  <button (click)="viewBookList()">Ver Lista de Libros</button>
</body>
</html>
